<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uwallet.pay.main.dao.AccessPlatformDAO">

  <resultMap id="accessPlatformMap" type="com.uwallet.pay.main.model.entity.AccessPlatform">
    <id property="id" jdbcType="BIGINT" column="id"/>
    <result property="name" jdbcType="VARCHAR" column="name"/>
    <result property="platformIdNo" jdbcType="VARCHAR" column="platform_id_no"/>
    <result property="uuid" jdbcType="VARCHAR" column="uuid"/>
    <result property="accessSideInfo" jdbcType="VARCHAR" column="access_side_info"/>
    <result property="state" jdbcType="TINYINT" column="state"/>
    <result property="serverFeeRate" jdbcType="DECIMAL" column="server_fee_rate"/>
    <result property="discountRate" jdbcType="DECIMAL" column="discount_rate"/>
    <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
    <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
    <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
    <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
    <result property="status" jdbcType="TINYINT" column="status"/>
    <result property="ip" jdbcType="VARCHAR" column="ip"/>
  </resultMap>

  <resultMap id="accessPlatformDTOMap" type="com.uwallet.pay.main.model.dto.AccessPlatformDTO" extends="accessPlatformMap"></resultMap>

  <!--通用查询条件-->
  <sql id="basicParams">
        <if test="id != null">
          AND `id`=#{id}
        </if>
        <if test="name != null">
          AND `name`=#{name}
        </if>
        <if test="platformIdNo != null">
          AND `platform_id_no`=#{platformIdNo}
        </if>
        <if test="uuid != null">
          AND `uuid`=#{uuid}
        </if>
        <if test="accessSideInfo != null">
          AND `access_side_info`=#{accessSideInfo}
        </if>
        <if test="state != null">
          AND `state`=#{state}
        </if>
        <if test="serverFeeRate != null">
          AND `server_fee_rate`=#{serverFeeRate}
        </if>
        <if test="discountRate != null">
          AND `discount_rate`=#{discountRate}
        </if>
        <if test="createdBy != null">
          AND `created_by`=#{createdBy}
        </if>
        <if test="start != null and end != null">
          AND `created_date` BETWEEN #{start} AND #{ end}
        </if>
        <if test="modifiedBy != null">
          AND `modified_by`=#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
          AND `modified_date`=#{modifiedDate}
        </if>
        <choose>
          <when test="status != null">AND status = #{status}</when>
          <otherwise><![CDATA[AND status > 0]]></otherwise>
        </choose>
        <if test="ip != null">
          AND `ip`=#{ip}
        </if>
  </sql>

  <insert id="insert" parameterType="com.uwallet.pay.main.model.entity.AccessPlatform">
    INSERT INTO u_access_platform (
        <if test="id != null">
            `id` 
        </if>
        <if test="name != null">
            ,`name` 
        </if>
        <if test="platformIdNo != null">
            ,`platform_id_no` 
        </if>
        <if test="uuid != null">
            ,`uuid` 
        </if>
        <if test="accessSideInfo != null">
            ,`access_side_info` 
        </if>
        <if test="state != null">
            ,`state` 
        </if>
        <if test="serverFeeRate != null">
            ,`server_fee_rate` 
        </if>
        <if test="discountRate != null">
            ,`discount_rate` 
        </if>
        <if test="createdBy != null">
            ,`created_by` 
        </if>
        <if test="createdDate != null">
            ,`created_date` 
        </if>
        <if test="modifiedBy != null">
            ,`modified_by` 
        </if>
        <if test="modifiedDate != null">
            ,`modified_date` 
        </if>
        <if test="status != null">
            ,`status` 
        </if>
        <if test="ip != null">
            ,`ip`
        </if>
    ) VALUES (
        <if test="id != null">
              #{id}
        </if>
        <if test="name != null">
              ,#{name}
        </if>
        <if test="platformIdNo != null">
              ,#{platformIdNo}
        </if>
        <if test="uuid != null">
              ,#{uuid}
        </if>
        <if test="accessSideInfo != null">
              ,#{accessSideInfo}
        </if>
        <if test="state != null">
              ,#{state}
        </if>
        <if test="serverFeeRate != null">
              ,#{serverFeeRate}
        </if>
        <if test="discountRate != null">
              ,#{discountRate}
        </if>
        <if test="createdBy != null">
              ,#{createdBy}
        </if>
        <if test="createdDate != null">
              ,#{createdDate}
        </if>
        <if test="modifiedBy != null">
              ,#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
              ,#{modifiedDate}
        </if>
        <if test="status != null">
              ,#{status}
        </if>
        <if test="ip != null">
              ,#{ip}
        </if>
    )
  </insert>

  <insert id="insertList" parameterType="List">
    INSERT INTO u_access_platform (
        `id`,
        `name`,
        `platform_id_no`,
        `uuid`,
        `access_side_info`,
        `state`,
        `server_fee_rate`,
        `discount_rate`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `status`,
        `ip`
    ) VALUES
    <foreach collection="list" item="data" separator=",">
      (
        #{data.id},
        #{data.name},
        #{data.platformIdNo},
        #{data.uuid},
        #{data.accessSideInfo},
        #{data.state},
        #{data.serverFeeRate},
        #{data.discountRate},
        #{data.createdBy},
        #{data.createdDate},
        #{data.modifiedBy},
        #{data.modifiedDate},
        #{data.status},
        #{data.ip}
      )
    </foreach>
  </insert>

  <update id="update" parameterType="com.uwallet.pay.main.model.entity.AccessPlatform">
    UPDATE u_access_platform
    <set>
        <if test="id != null">
          `id`=#{id},
        </if>
        <if test="name != null">
          `name`=#{name},
        </if>
        <if test="platformIdNo != null">
          `platform_id_no`=#{platformIdNo},
        </if>
        <if test="uuid != null">
          `uuid`=#{uuid},
        </if>
        <if test="accessSideInfo != null">
          `access_side_info`=#{accessSideInfo},
        </if>
        <if test="state != null">
          `state`=#{state},
        </if>
        <if test="serverFeeRate != null">
          `server_fee_rate`=#{serverFeeRate},
        </if>
        <if test="discountRate != null">
          `discount_rate`=#{discountRate},
        </if>
        <if test="createdBy != null">
          `created_by`=#{createdBy},
        </if>
        <if test="createdDate != null">
          `created_date`=#{createdDate},
        </if>
        <if test="modifiedBy != null">
          `modified_by`=#{modifiedBy},
        </if>
        <if test="modifiedDate != null">
          `modified_date`=#{modifiedDate},
        </if>
        <if test="status != null">
          `status`=#{status},
        </if>
        <if test="ip != null">
          `ip`=#{ip},
        </if>
    </set>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <choose>
        <when test="status != null ">AND status = #{status.value}</when>
        <otherwise><![CDATA[AND status > 0]]></otherwise>
      </choose>
        AND id = #{id}
    </trim>
  </update>

  <update id="delete" parameterType="Map">
      UPDATE u_access_platform
      SET `status`=0,`modified_by`=#{modifiedBy},`modified_date`=#{modifiedDate}
      WHERE id = #{id}
  </update>

  <delete id="pdelete" parameterType="Map">
      DELETE FROM u_access_platform
      WHERE id = #{id}
  </delete>

  <select id="count" parameterType="Map" resultType="Integer">
    <![CDATA[
            SELECT COUNT(DISTINCT id) FROM u_access_platform
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
  </select>

  <select id="selectOne" parameterType="Map" resultMap="accessPlatformMap">
    <![CDATA[
            SELECT * FROM u_access_platform
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    LIMIT 1
  </select>

  <select id="selectOneDTO" parameterType="Map" resultMap="accessPlatformDTOMap">
    <![CDATA[
            SELECT * FROM u_access_platform
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    LIMIT 1
  </select>

  <select id="select" parameterType="Map" resultMap="accessPlatformMap">
    <![CDATA[
            SELECT * FROM u_access_platform
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectDTO" parameterType="Map" resultMap="accessPlatformDTOMap">
    <![CDATA[
            SELECT * FROM u_access_platform
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectMap" parameterType="Map" resultType="Map">
    SELECT
    <foreach collection="columns" item="cname" separator="," open="`" close="`">
        ${cname}
    </foreach>
    FROM u_access_platform
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <!--统计相关查询-->
  <select id="groupCount" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM u_access_platform
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>

  <select id="sum" parameterType="Map" resultType="Double">
    <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_access_platform
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
  </select>

  <select id="groupSum" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_access_platform
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>
    <select id="getAllPlatform" parameterType="Map" resultMap="accessPlatformDTOMap">
        select pl.* from u_access_platform pl inner join u_access_merchant me on pl.id = me.platform_id
        where me.platform_own = 1 and pl.`status` = 1 and me.status = 1
    </select>

</mapper>
