<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uwallet.pay.main.dao.AppVersionDAO">

  <resultMap id="appVersionMap" type="com.uwallet.pay.main.model.entity.AppVersion">
    <id property="id" jdbcType="BIGINT" column="id"/>
    <result property="version" jdbcType="VARCHAR" column="version"/>
    <result property="needUpdate" jdbcType="TINYINT" column="need_update"/>
    <result property="deviceType" jdbcType="TINYINT" column="device_type"/>
    <result property="storeCountry" jdbcType="TINYINT" column="store_country"/>
    <result property="storeType" jdbcType="TINYINT" column="store_type"/>
    <result property="fixedInfo" jdbcType="VARCHAR" column="fixed_info"/>
    <result property="displayInfoCn" jdbcType="VARCHAR" column="display_info_cn"/>
    <result property="displayInfoEn" jdbcType="VARCHAR" column="display_info_en"/>
    <result property="appType" jdbcType="TINYINT" column="app_type"/>
    <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
    <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
    <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
    <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
    <result property="status" jdbcType="TINYINT" column="status"/>
    <result property="ip" jdbcType="VARCHAR" column="ip"/>
    <result property="manualForceUpdate" jdbcType="TINYINT" column="manual_force_update"/>
  </resultMap>

  <resultMap id="appVersionDTOMap" type="com.uwallet.pay.main.model.dto.AppVersionDTO" extends="appVersionMap"></resultMap>

  <!--通用查询条件-->
  <sql id="basicParams">
       <if test="newVersionNo != null">
           AND `version` = #{newVersionNo}
       </if>
      <if test="manualForceUpdate != null">
          AND `manual_force_update` = #{manualForceUpdate}
      </if>
        <if test="id != null">
          AND `id`=#{id}
        </if>
        <if test="version != null">
          AND `version`=#{version}
        </if>
        <if test="needUpdate != null">
          AND `need_update`=#{needUpdate}
        </if>
        <if test="deviceType != null">
          AND `device_type`=#{deviceType}
        </if>
        <if test="storeCountry != null">
          AND `store_country`=#{storeCountry}
        </if>
        <if test="storeType != null">
          AND `store_type`=#{storeType}
        </if>
        <if test="fixedInfo != null">
          AND `fixed_info`=#{fixedInfo}
        </if>
        <if test="displayInfoCn != null">
          AND `display_info_cn`=#{displayInfoCn}
        </if>
        <if test="displayInfoEn != null">
          AND `display_info_en`=#{displayInfoEn}
        </if>
        <if test="appType != null">
          AND `app_type`=#{appType}
        </if>
        <if test="createdBy != null">
          AND `created_by`=#{createdBy}
        </if>
        <if test="start != null and end != null">
          AND `created_date` BETWEEN #{start} AND #{ end}
        </if>
        <if test="modifiedBy != null">
          AND `modified_by`=#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
          AND `modified_date`=#{modifiedDate}
        </if>
        <choose>
          <when test="status != null">AND status = #{status}</when>
          <otherwise><![CDATA[AND status > 0]]></otherwise>
        </choose>
        <if test="ip != null">
          AND `ip`=#{ip}
        </if>
  </sql>

  <insert id="insert" parameterType="com.uwallet.pay.main.model.entity.AppVersion">
    INSERT INTO u_app_version (
        <if test="id != null">
            `id`
        </if>
        <if test="manualForceUpdate != null">
            ,`manual_force_update`
        </if>
      <if test="version != null">
          ,`version`
      </if>
        <if test="needUpdate != null">
            ,`need_update`
        </if>
        <if test="deviceType != null">
            ,`device_type`
        </if>
        <if test="storeCountry != null">
            ,`store_country`
        </if>
        <if test="storeType != null">
            ,`store_type`
        </if>
        <if test="fixedInfo != null">
            ,`fixed_info`
        </if>
        <if test="displayInfoCn != null">
            ,`display_info_cn`
        </if>
        <if test="displayInfoEn != null">
            ,`display_info_en`
        </if>
        <if test="appType != null">
            ,`app_type`
        </if>
        <if test="createdBy != null">
            ,`created_by`
        </if>
        <if test="createdDate != null">
            ,`created_date`
        </if>
        <if test="modifiedBy != null">
            ,`modified_by`
        </if>
        <if test="modifiedDate != null">
            ,`modified_date`
        </if>
        <if test="status != null">
            ,`status`
        </if>
        <if test="ip != null">
            ,`ip`
        </if>
    ) VALUES (
        <if test="id != null">
              #{id}
        </if>
        <if test="version != null">
              ,#{version}
        </if>
      <if test="manualForceUpdate != null">
          ,#{manualForceUpdate}
      </if>
        <if test="needUpdate != null">
              ,#{needUpdate}
        </if>
        <if test="deviceType != null">
              ,#{deviceType}
        </if>
        <if test="storeCountry != null">
              ,#{storeCountry}
        </if>
        <if test="storeType != null">
              ,#{storeType}
        </if>
        <if test="fixedInfo != null">
              ,#{fixedInfo}
        </if>
        <if test="displayInfoCn != null">
              ,#{displayInfoCn}
        </if>
        <if test="displayInfoEn != null">
              ,#{displayInfoEn}
        </if>
        <if test="appType != null">
              ,#{appType}
        </if>
        <if test="createdBy != null">
              ,#{createdBy}
        </if>
        <if test="createdDate != null">
              ,#{createdDate}
        </if>
        <if test="modifiedBy != null">
              ,#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
              ,#{modifiedDate}
        </if>
        <if test="status != null">
              ,#{status}
        </if>
        <if test="ip != null">
              ,#{ip}
        </if>
    )
  </insert>

  <insert id="insertList" parameterType="List">
    INSERT INTO u_app_version (
        `id`,
        `version`,
        `version`,
        `manual_force_update`,
        `device_type`,
        `store_country`,
        `store_type`,
        `fixed_info`,
        `display_info_cn`,
        `display_info_en`,
        `app_type`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `status`,
        `ip`
    ) VALUES
    <foreach collection="list" item="data" separator=",">
      (
        #{data.id},
        #{data.version},
        #{data.manualForceUpdate},
        #{data.needUpdate},
        #{data.deviceType},
        #{data.storeCountry},
        #{data.storeType},
        #{data.fixedInfo},
        #{data.displayInfoCn},
        #{data.displayInfoEn},
        #{data.appType},
        #{data.createdBy},
        #{data.createdDate},
        #{data.modifiedBy},
        #{data.modifiedDate},
        #{data.status},
        #{data.ip}
      )
    </foreach>
  </insert>

  <update id="update" parameterType="com.uwallet.pay.main.model.entity.AppVersion">
    UPDATE u_app_version
    <set>
        <if test="id != null">
          `id`=#{id},
        </if>
        <if test="manualForceUpdate != null">
            `manual_force_update`=#{manualForceUpdate},
        </if>
        <if test="version != null">
          `version`=#{version},
        </if>
        <if test="needUpdate != null">
          `need_update`=#{needUpdate},
        </if>
        <if test="deviceType != null">
          `device_type`=#{deviceType},
        </if>
        <if test="storeCountry != null">
          `store_country`=#{storeCountry},
        </if>
        <if test="storeType != null">
          `store_type`=#{storeType},
        </if>
        <if test="fixedInfo != null">
          `fixed_info`=#{fixedInfo},
        </if>
        <if test="displayInfoCn != null">
          `display_info_cn`=#{displayInfoCn},
        </if>
        <if test="displayInfoEn != null">
          `display_info_en`=#{displayInfoEn},
        </if>
        <if test="appType != null">
          `app_type`=#{appType},
        </if>
        <if test="createdBy != null">
          `created_by`=#{createdBy},
        </if>
        <if test="createdDate != null">
          `created_date`=#{createdDate},
        </if>
        <if test="modifiedBy != null">
          `modified_by`=#{modifiedBy},
        </if>
        <if test="modifiedDate != null">
          `modified_date`=#{modifiedDate},
        </if>
        <if test="status != null">
          `status`=#{status},
        </if>
        <if test="ip != null">
          `ip`=#{ip},
        </if>
    </set>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <choose>
        <when test="status != null ">AND status = #{status.value}</when>
        <otherwise><![CDATA[AND status > 0]]></otherwise>
      </choose>
        AND id = #{id}
    </trim>
  </update>

  <update id="delete" parameterType="Map">
      UPDATE u_app_version
      SET `status`=0,`modified_by`=#{modifiedBy},`modified_date`=#{modifiedDate}
      WHERE id = #{id}
  </update>

  <delete id="pdelete" parameterType="Map">
      DELETE FROM u_app_version
      WHERE id = #{id}
  </delete>

  <select id="count" parameterType="Map" resultType="Integer">
    <![CDATA[
            SELECT COUNT(DISTINCT id) FROM u_app_version
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
  </select>

  <select id="selectOne" parameterType="Map" resultMap="appVersionMap">
    <![CDATA[
            SELECT * FROM u_app_version
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    LIMIT 1
  </select>

  <select id="selectOneDTO" parameterType="Map" resultMap="appVersionDTOMap">
    <![CDATA[
            SELECT * FROM u_app_version
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    LIMIT 1
  </select>

  <select id="select" parameterType="Map" resultMap="appVersionMap">
    <![CDATA[
            SELECT * FROM u_app_version
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectDTO" parameterType="Map" resultMap="appVersionDTOMap">
    <![CDATA[
            SELECT * FROM u_app_version
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectMap" parameterType="Map" resultType="Map">
    SELECT
    <foreach collection="columns" item="cname" separator="," open="`" close="`">
        ${cname}
    </foreach>
    FROM u_app_version
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <!--统计相关查询-->
  <select id="groupCount" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM u_app_version
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>

  <select id="sum" parameterType="Map" resultType="Double">
    <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_app_version
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
  </select>

  <select id="groupSum" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_app_version
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>
    <!--当前版本与商店最新版本之间 有没有需要强更的版本 count-->
    <select id="countNeedUpdate" resultType="java.lang.Integer">
         select count(id)  FROM u_app_version
         where
         `status` = 1
         and `device_type` = #{deviceType}
         and `store_country` = #{storeCountry}
         and `need_update` = 1
         and `store_type` = #{storeType}
       <![CDATA[
          and `id` > #{currentVersionId}
          and `id` <= #{newVersionId}
          ]]>
    </select>
    <!--当前版本与商店最新版本之间 有没有需要强更的版本 count-->
    <select id="countNeedUpdateV2" resultType="java.lang.Integer">
         select count(id)  FROM u_app_version
         where
         `status` = 1
         and `device_type` = #{deviceType}
         and `store_country` = #{storeCountry}
         and `need_update` = #{needUpdate}
         and `store_type` = #{storeType}
        <if test="appType != null">
            and `app_type` = #{appType}
        </if>

       <![CDATA[
          and `id` > #{currentVersionId}
          and `id` <= #{newVersionId}
          ]]>
    </select>

</mapper>
