<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uwallet.pay.main.dao.ClearFlowDetailDAO">

    <resultMap id="clearFlowDetailMap" type="com.uwallet.pay.main.model.entity.ClearFlowDetail">
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="clearBatchId" jdbcType="BIGINT" column="clear_batch_id"/>
        <result property="flowId" jdbcType="BIGINT" column="flow_id"/>
        <result property="recUserId" jdbcType="BIGINT" column="rec_user_id"/>
        <result property="userId" jdbcType="BIGINT" column="user_id"/>
        <result property="clearAmount" jdbcType="DECIMAL" column="clear_amount"/>
        <result property="transAmount" jdbcType="DECIMAL" column="trans_amount"/>
        <result property="transType" jdbcType="TINYINT" column="trans_type"/>
        <result property="state" jdbcType="TINYINT" column="state"/>
        <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
        <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
        <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
        <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
        <result property="status" jdbcType="TINYINT" column="status"/>
        <result property="ip" jdbcType="VARCHAR" column="ip"/>
        <result property="borrowAmount" jdbcType="DECIMAL" column="borrow_amount"/>
        <result property="merchantId" jdbcType="BIGINT" column="merchant_id"/>
    </resultMap>

    <resultMap id="clearFlowDetailDTOMap" type="com.uwallet.pay.main.model.dto.ClearFlowDetailDTO">
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="clearBatchId" jdbcType="BIGINT" column="clear_batch_id"/>
        <result property="flowId" jdbcType="BIGINT" column="flow_id"/>
        <result property="recUserId" jdbcType="BIGINT" column="rec_user_id"/>
        <result property="userId" jdbcType="BIGINT" column="user_id"/>
        <result property="clearAmount" jdbcType="DECIMAL" column="clear_amount"/>
        <result property="transAmount" jdbcType="DECIMAL" column="trans_amount"/>
        <result property="transType" jdbcType="TINYINT" column="trans_type"/>
        <result property="state" jdbcType="TINYINT" column="state"/>
        <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
        <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
        <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
        <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
        <result property="status" jdbcType="TINYINT" column="status"/>
        <result property="ip" jdbcType="VARCHAR" column="ip"/>
        <result property="borrowAmount" jdbcType="DECIMAL" column="borrow_amount"/>
        <result property="merchantId" jdbcType="BIGINT" column="merchant_id"/>
    </resultMap>

    <insert id="insert" parameterType="com.uwallet.pay.main.model.entity.ClearFlowDetail">
        INSERT INTO u_clear_flow_detail (
        <if test="id != null">
            `id`
        </if>
        <if test="clearBatchId != null">
            ,`clear_batch_id`
        </if>
        <if test="flowId != null">
            ,`flow_id`
        </if>
        <if test="recUserId != null">
            ,`rec_user_id`
        </if>
        <if test="userId != null">
            ,`user_id`
        </if>
        <if test="merchantId != null">
            ,`merchant_id`
        </if>
        <if test="clearAmount != null">
            ,`clear_amount`
        </if>
        <if test="transAmount != null">
            ,`trans_amount`
        </if>
        <if test="borrowAmount != null">
            ,`borrow_amount`
        </if>
        <if test="transType != null">
            ,`trans_type`
        </if>
        <if test="state != null">
            ,`state`
        </if>
        <if test="createdBy != null">
            ,`created_by`
        </if>
        <if test="createdDate != null">
            ,`created_date`
        </if>
        <if test="modifiedBy != null">
            ,`modified_by`
        </if>
        <if test="modifiedDate != null">
            ,`modified_date`
        </if>
        <if test="status != null">
            ,`status`
        </if>
        <if test="ip != null">
            ,`ip`
        </if>
        ) VALUES (
        <if test="id != null">
            #{id}
        </if>
        <if test="clearBatchId != null">
            ,#{clearBatchId}
        </if>
        <if test="flowId != null">
            ,#{flowId}
        </if>
        <if test="recUserId != null">
            ,#{recUserId}
        </if>
        <if test="userId != null">
            ,#{userId}
        </if>
        <if test="merchantId != null">
            ,#{merchantId}
        </if>
        <if test="clearAmount != null">
            ,#{clearAmount}
        </if>
        <if test="transAmount != null">
            ,#{transAmount}
        </if>
        <if test="borrowAmount != null">
            ,#{borrowAmount}
        </if>
        <if test="transType != null">
            ,#{transType}
        </if>
        <if test="state != null">
            ,#{state}
        </if>
        <if test="createdBy != null">
            ,#{createdBy}
        </if>
        <if test="createdDate != null">
            ,#{createdDate}
        </if>
        <if test="modifiedBy != null">
            ,#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
            ,#{modifiedDate}
        </if>
        <if test="status != null">
            ,#{status}
        </if>
        <if test="ip != null">
            ,#{ip}
        </if>
        )
    </insert>

    <insert id="insertList" parameterType="List">
        INSERT INTO u_clear_flow_detail (
        `id`,
        `clear_batch_id`,
        `flow_id`,
        `rec_user_id`,
        `user_id`,
        `merchant_id`,
        `clear_amount`,
        `trans_amount`,
        `borrow_amount`,
        `trans_type`,
        `state`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `status`,
        `ip`
        ) VALUES
        <foreach collection="list" item="data" separator=",">
            (
            #{data.id},
            #{data.clearBatchId},
            #{data.flowId},
            #{data.recUserId},
            #{data.userId},
            #{data.merchantId},
            #{data.clearAmount},
            #{data.transAmount},
            #{data.borrowAmount},
            #{data.transType},
            #{data.state},
            #{data.createdBy},
            #{data.createdDate},
            #{data.modifiedBy},
            #{data.modifiedDate},
            #{data.status},
            #{data.ip}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.uwallet.pay.main.model.entity.ClearFlowDetail">
        UPDATE u_clear_flow_detail
        <set>
            <if test="id != null">
                `id`=#{id},
            </if>
            <if test="clearBatchId != null">
                `clear_batch_id`=#{clearBatchId},
            </if>
            <if test="flowId != null">
                `flow_id`=#{flowId},
            </if>
            <if test="recUserId != null">
                `rec_user_id`=#{recUserId},
            </if>
            <if test="userId != null">
                `user_id`=#{userId},
            </if>
            <if test="merchantId != null">
                `merchant_id`=#{merchantId},
            </if>
            <if test="clearAmount != null">
                `clear_amount`=#{clearAmount},
            </if>
            <if test="transAmount != null">
                `trans_amount`=#{transAmount},
            </if>
            <if test="borrowAmount != null">
                `borrow_amount`=#{borrowAmount},
            </if>
            <if test="transType != null">
                `trans_type`=#{transType},
            </if>
            <if test="state != null">
                `state`=#{state},
            </if>
            <if test="createdBy != null">
                `created_by`=#{createdBy},
            </if>
            <if test="createdDate != null">
                `created_date`=#{createdDate},
            </if>
            <if test="modifiedBy != null">
                `modified_by`=#{modifiedBy},
            </if>
            <if test="modifiedDate != null">
                `modified_date`=#{modifiedDate},
            </if>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="ip != null">
                `ip`=#{ip},
            </if>
        </set>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status != null ">AND status = #{status.value}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            AND id = #{id}
        </trim>
    </update>


    <update id="delete" parameterType="Map">
      UPDATE u_clear_flow_detail
      SET `status`=0,`modified_by`=#{modifiedBy},`modified_date`=#{modifiedDate}
      WHERE id = #{id}
  </update>

    <delete id="pdelete" parameterType="Map">
      DELETE FROM u_clear_flow_detail
      WHERE id = #{id}
  </delete>

    <select id="count" parameterType="Map" resultType="Integer">
        <![CDATA[
            SELECT COUNT(DISTINCT id) FROM u_clear_flow_detail
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">And status = #{status}</when>
                <otherwise><![CDATA[And status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
    </select>

    <select id="selectOne" parameterType="Map" resultMap="clearFlowDetailMap">
        <![CDATA[
            SELECT * FROM u_clear_flow_detail
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        LIMIT 1
    </select>

    <select id="selectOneDTO" parameterType="Map" resultMap="clearFlowDetailDTOMap">
        <![CDATA[
            SELECT * FROM u_clear_flow_detail
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        LIMIT 1
    </select>

    <select id="select" parameterType="Map" resultMap="clearFlowDetailMap">
        <![CDATA[
            SELECT * FROM u_clear_flow_detail
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                ${sc.field} ${sc.order}
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex}, ${pc.pageSize}
        </if>
    </select>

    <select id="selectDTO" parameterType="Map" resultMap="clearFlowDetailDTOMap">
        <![CDATA[
            SELECT * FROM u_clear_flow_detail
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                ${sc.field} ${sc.order}
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex}, ${pc.pageSize}
        </if>
    </select>

    <select id="selectMap" parameterType="Map" resultType="Map">
        SELECT
        <foreach collection="columns" item="cname" separator="," open="`" close="`">
            ${cname}
        </foreach>
        FROM u_clear_flow_detail
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                ${sc.field} ${sc.order}
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex}, ${pc.pageSize}
        </if>
    </select>

    <!--统计相关查询-->
    <select id="groupCount" parameterType="Map" resultType="Map">
        <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM u_clear_flow_detail
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        GROUP BY `group`
        ORDER BY `group` ASC
    </select>

    <select id="sum" parameterType="Map" resultType="Double">
        <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_clear_flow_detail
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
    </select>

    <select id="groupSum" parameterType="Map" resultType="Map">
        <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_clear_flow_detail
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND `clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND `flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND `rec_user_id`=#{recUserId}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="clearAmount != null">
                AND `clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND `trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND `trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="borrowAmount != null">
                AND `borrow_amount`=#{borrowAmount}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        GROUP BY `group`
        ORDER BY `group` ASC
    </select>

    <select id="getDataByBatchId" parameterType="Map" resultMap="clearFlowDetailMap">
        SELECT
            pay.batch_id AS clear_batch_id,
            pay.rec_user_id AS rec_user_id,
            pay.rec_amount AS trans_amount,
            pay.trans_type AS trans_type,
            pay.id AS flow_id,
            pay.trans_amount AS borrow_amount,
            pay.merchant_id as merchant_id
        FROM
            u_qr_pay_flow pay
        WHERE
            pay.batch_id = #{clearBatchId}
        AND pay.clear_state = '2'
        UNION ALL
            SELECT
                r.batch_id AS clear_batch_id,
                '' AS rec_user_id,
                r.refund_amount AS trans_amount,
                r.trans_type AS trans_type,
                r.id AS flow_id,
                r.refund_amount AS borrow_amount,
                r.merchant_id as merchant_id
            FROM
                u_refund_order r
            WHERE
                r.batch_id = #{clearBatchId}
            AND r.settlement_state = 2
    </select>

    <select id="findAmountInAmount" parameterType="Map" resultType="decimal" >
       select sum(f.trans_amount)
       from u_clear_flow_detail f
       where f.clear_batch_id =#{batchId}
       and f.rec_user_id =#{recUserId}
       and f.state =#{state}
      <![CDATA[ AND trans_amount > 0 ]]>
    </select>

    <update id="clearData" parameterType="Map"  >
       update u_clear_flow_detail
       set clear_amount = trans_amount,
        state = 1
       where
        clear_batch_id = #{orgBatchId}
        <if test="recUserId != null">
            and  rec_user_id =#{recUserId}
        </if>
        <if test="merchantId != null">
            and  merchant_id =#{merchantId}
        </if>
        <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
        </choose>
        <if test="amountInFlag != null">
            <![CDATA[ AND trans_amount > 0 ]]>
        </if>

    </update>

    <select id="findAmountOutAmount" parameterType="Map" resultMap="clearFlowDetailDTOMap" >
       select *
       from u_clear_flow_detail f
       where f.clear_batch_id =#{batchId}
       and f.rec_user_id =#{recUserId}
       and f.state =#{state}
       <![CDATA[ AND f.trans_amount < 0  AND f.status >0 ]]>
    </select>

    <update id="updateAmountOut" parameterType="Map" >
update u_clear_flow_detail
SET clear_amount = trans_amount - #{toLoseAmount},
state = 1
where
clear_batch_id =#{batchId}
and rec_user_id =#{recUserId}
and id = #{clearFlowDetailId}
<![CDATA[ AND trans_amount - #{toLoseAmount} >= 0 AND status >0 ]]>
    </update>


    <select id="selectBatchBorrow" parameterType="java.util.Map" resultType="com.uwallet.pay.main.model.dto.PayBorrowDTO">
        select      flow.id,
        pay_user.phone,
        merchant.corporate_name,
        c.trans_amount,
        c.clear_amount truely_pay_amount,
        (flow.rate * 100) rate,
        flow.gateway_id,
        flow.state,
        flow.clear_state,
        flow.created_date,
        c.trans_type,
        c.borrow_amount from u_clear_flow_detail c
        left join u_qr_pay_flow flow on c.flow_id  = flow.id
        LEFT JOIN u_user pay_user ON pay_user.id = flow.pay_user_id
        LEFT JOIN u_merchant merchant ON merchant.user_id = flow.rec_user_id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
        AND flow.status >0
        <if test="id != null">
            AND c.`id`=#{id}
        </if>
        <if test="clearBatchId != null">
            AND c.`clear_batch_id`=#{clearBatchId}
        </if>
        <if test="flowId != null">
            AND c.`flow_id`=#{flowId}
        </if>
        <if test="recUserId != null">
            AND c.`rec_user_id`=#{recUserId}
        </if>
        <if test="clearAmount != null">
            AND c.`clear_amount`=#{clearAmount}
        </if>
        <if test="transAmount != null">
            AND c.`trans_amount`=#{transAmount}
        </if>
        <if test="transType != null">
            AND c.`trans_type`=#{transType}
        </if>
        <if test="state != null">
            AND c.`state`=#{state}
        </if>
        <if test="createdBy != null">
            AND c.`created_by`=#{createdBy}
        </if>
        <if test="start != null and end != null">
            AND c.`created_date` BETWEEN #{start} AND #{ end}
        </if>
        <if test="modifiedBy != null">
            AND c.`modified_by`=#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
            AND c.`modified_date`=#{modifiedDate}
        </if>
        <if test="ip != null">
            AND c.`ip`=#{ip}
        </if>
    </trim>
    union all
        select      flow.id,
        pay_user.phone,
        merchant.corporate_name,
        (case when c.trans_amount>0 then flow.refund_amount else  -flow.refund_amount end) as trans_amount ,
        c.clear_amount as truely_pay_amount,
        0 rate,
        flow.gateway_id,
        flow.state,
        flow.settlement_state,
        flow.created_date,
        c.trans_type,
        c.borrow_amount from u_clear_flow_detail c
        left join u_refund_flow flow on c.flow_id  = flow.id
        left join u_qr_pay_flow qrflow on flow.flow_id = qrflow.id
        LEFT JOIN u_user pay_user ON pay_user.id = qrflow.pay_user_id
        LEFT JOIN u_merchant merchant ON merchant.user_id = flow.org_rec_user_id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
        AND flow.status >0
        <if test="id != null">
            AND c.`id`=#{id}
        </if>
        <if test="clearBatchId != null">
            AND c.`clear_batch_id`=#{clearBatchId}
        </if>
        <if test="flowId != null">
            AND c.`flow_id`=#{flowId}
        </if>
        <if test="recUserId != null">
            AND c.`rec_user_id`=#{recUserId}
        </if>
        <if test="clearAmount != null">
            AND c.`clear_amount`=#{clearAmount}
        </if>
        <if test="transAmount != null">
            AND c.`trans_amount`=#{transAmount}
        </if>
        <if test="transType != null">
            AND c.`trans_type`=#{transType}
        </if>
        <if test="state != null">
            AND c.`state`=#{state}
        </if>
        <if test="createdBy != null">
            AND c.`created_by`=#{createdBy}
        </if>
        <if test="start != null and end != null">
            AND c.`created_date` BETWEEN #{start} AND #{ end}
        </if>
        <if test="modifiedBy != null">
            AND c.`modified_by`=#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
            AND c.`modified_date`=#{modifiedDate}
        </if>
        <if test="ip != null">
            AND c.`ip`=#{ip}
        </if>
        </trim>
    </select>

    <select id="selectBatchBorrowCount" parameterType="java.util.Map" resultType="INT">
        select   count(*)   from u_clear_flow_detail c
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND c.`id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND c.`clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND c.`flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND c.`rec_user_id`=#{recUserId}
            </if>
            <if test="clearAmount != null">
                AND c.`clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND c.`trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND c.`trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND c.`state`=#{state}
            </if>
            <if test="createdBy != null">
                AND c.`created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND c.`created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND c.`modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND c.`modified_date`=#{modifiedDate}
            </if>
            <if test="ip != null">
                AND c.`ip`=#{ip}
            </if>
        </trim>
    </select>


    <select id="clearTotal" parameterType="Map" resultMap="clearFlowDetailDTOMap">

        select sum(clear_amount) as clear_amount,sum(trans_amount) as trans_amount,count(*) as count,
        sum(borrow_amount) as borrow_amount
        from u_clear_flow_detail
        where
        <![CDATA[ status > 0
        AND trans_amount>0 ]]>
        AND clear_batch_id=#{clearBatchId}
        AND state=1

    </select>

    <update id="updateClearBatchToFail" parameterType="Map"  >
        update u_clear_flow_detail
        set
        <if test="modifiedDate != null">
            `modified_date`=#{modifiedDate},
        </if>
        <if test="modifiedBy != null">
            `modified_by`=#{modifiedBy},
        </if>
        <if test="ip != null">
            `ip`=#{ip},
        </if>
        state = 2

        where
        clear_batch_id = #{clearBatchId}
        <if test="recUserId != null">
            AND `rec_user_id`=#{recUserId}
        </if>
        <if test="merchantId != null">
            AND `merchant_id`=#{merchantId}
        </if>
        <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
        </choose>
        <if test="amountInFlag != null">
            <![CDATA[ AND trans_amount > 0 ]]>
        </if>

    </update>

    <select id="getApiPltClearDataByBatchId" parameterType="Map" resultMap="clearFlowDetailMap">
        SELECT
            qr.acc_plt_fee_clear_batch AS clear_batch_id,
            mer.platform_id AS rec_user_id,
            qr.access_party_server_fee AS trans_amount,
            qr.trans_type AS trans_type,
            qr.id AS flow_id,
            qr.trans_amount AS borrow_amount
        FROM
            u_qr_pay_flow qr
        LEFT JOIN u_access_merchant mer ON qr.merchant_id = mer.id
        WHERE
            qr.acc_plt_fee_clear_batch = #{clearBatchId}
        AND qr.acc_plt_fee_clear_state = '2'

    </select>

    <select id="selectApiPltClearBatchBorrow" parameterType="java.util.Map" resultType="com.uwallet.pay.main.model.dto.PayBorrowDTO">

        select      flow.id,
        pay_user.phone,
        merchant.name as corporate_name,
        c.trans_amount,
        c.clear_amount truely_pay_amount,
        (flow.rate * 100) rate,
        flow.gateway_id,
        flow.state,
        flow.clear_state,
        flow.created_date,
        c.trans_type,
        c.borrow_amount from u_clear_flow_detail c
        left join u_qr_pay_flow flow on c.flow_id  = flow.id
        LEFT JOIN u_user pay_user ON pay_user.id = flow.pay_user_id
        LEFT JOIN u_access_merchant merchant ON merchant.id = flow.merchant_id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            AND flow.status >0
            <if test="id != null">
                AND c.`id`=#{id}
            </if>
            <if test="clearBatchId != null">
                AND c.`clear_batch_id`=#{clearBatchId}
            </if>
            <if test="flowId != null">
                AND c.`flow_id`=#{flowId}
            </if>
            <if test="recUserId != null">
                AND c.`rec_user_id`=#{recUserId}
            </if>
            <if test="clearAmount != null">
                AND c.`clear_amount`=#{clearAmount}
            </if>
            <if test="transAmount != null">
                AND c.`trans_amount`=#{transAmount}
            </if>
            <if test="transType != null">
                AND c.`trans_type`=#{transType}
            </if>
            <if test="state != null">
                AND c.`state`=#{state}
            </if>
            <if test="createdBy != null">
                AND c.`created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND c.`created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND c.`modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND c.`modified_date`=#{modifiedDate}
            </if>
            <if test="ip != null">
                AND c.`ip`=#{ip}
            </if>
        </trim>
    </select>

    <select id="getDataByBatchIdNew" parameterType="Map" resultMap="clearFlowDetailMap">
        select
            pay.batch_id as clear_batch_id ,
            pay.rec_user_id as rec_user_id,
            pay.rec_amount as trans_amount,
            pay.trans_type as trans_type,
            pay.id as flow_id,
            pay.trans_amount as borrow_amount
        from u_qr_pay_flow pay where pay.batch_id = #{clearBatchId} and pay.clear_state='2'
    </select>

    <update id="dealWholeSaleClear"  parameterType="Map">
        update u_clear_flow_detail f left join  u_clear_detail d on d.clear_batch_id = f.clear_batch_id and d.user_id  = f.rec_user_id
        set f.state = d.state
        where f.`status` = 1 and f.`status` = 1 and d.clear_batch_id = #{id}
    </update>

    <select id="getDonationDataByBatchId" resultType="com.uwallet.pay.main.model.entity.ClearFlowDetail">
        select
            d.batch_id as clear_batch_id ,
            d.user_id as user_id,
            d.amount as trans_amount,
            d.trans_type as trans_type,
            d.id as flow_id,
            d.institute_id as rec_user_id
        from u_donation_flow d where d.batch_id = #{id}
    </select>


    <update id="updateStateByBatchId" parameterType="Map" >
        UPDATE u_clear_flow_detail
        SET state = #{state}, `modified_by` = #{modifiedBy},
        `modified_date` = #{modifiedDate}
        WHERE
            STATUS = 1
            <if test="clearBatchId != null">
                and  clear_batch_id =#{clearBatchId}
            </if>
            <if test="merchantId != null">
                and  rec_user_id =#{merchantId}
            </if>
    </update>
</mapper>
