<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uwallet.pay.main.dao.QrcodeInfoDAO">

    <resultMap id="qrcodeInfoMap" type="com.uwallet.pay.main.model.entity.QrcodeInfo">
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="userId" jdbcType="BIGINT" column="user_id"/>
        <result property="merchantId" jdbcType="BIGINT" column="merchant_id"/>
        <result property="code" jdbcType="VARCHAR" column="code"/>
        <result property="path" jdbcType="VARCHAR" column="path"/>
        <result property="hopRouting" jdbcType="VARCHAR" column="hop_routing"/>
        <result property="qrcodeUserType" jdbcType="TINYINT" column="qrcode_user_type"/>
        <result property="correlationTime" jdbcType="BIGINT" column="correlation_time"/>
        <result property="state" jdbcType="TINYINT" column="state"/>
        <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
        <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
        <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
        <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
        <result property="status" jdbcType="TINYINT" column="status"/>
        <result property="ip" jdbcType="VARCHAR" column="ip"/>
    </resultMap>

    <resultMap id="qrcodeInfoDTOMap" type="com.uwallet.pay.main.model.dto.QrcodeInfoDTO">
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="userId" jdbcType="BIGINT" column="user_id"/>
        <result property="merchantId" jdbcType="BIGINT" column="merchant_id"/>
        <result property="code" jdbcType="VARCHAR" column="code"/>
        <result property="path" jdbcType="VARCHAR" column="path"/>
        <result property="hopRouting" jdbcType="VARCHAR" column="hop_routing"/>
        <result property="qrcodeUserType" jdbcType="TINYINT" column="qrcode_user_type"/>
        <result property="correlationTime" jdbcType="BIGINT" column="correlation_time"/>
        <result property="state" jdbcType="TINYINT" column="state"/>
        <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
        <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
        <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
        <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
        <result property="status" jdbcType="TINYINT" column="status"/>
        <result property="ip" jdbcType="VARCHAR" column="ip"/>
    </resultMap>

    <insert id="insert" parameterType="com.uwallet.pay.main.model.entity.QrcodeInfo">
        INSERT INTO u_qrcode_info (
        <if test="id != null">
            `id`,
        </if>
        <if test="userId != null">
            `user_id`,
        </if>
        <if test="merchantId != null">
            `merchant_id`,
        </if>
        <if test="code != null">
            `code`,
        </if>
        <if test="path != null">
            `path`,
        </if>
        <if test="hopRouting != null">
            `hop_routing`,
        </if>
        <if test="qrcodeUserType != null">
            `qrcode_user_type`,
        </if>
        <if test="correlationTime != null">
            `correlation_time`,
        </if>
        <if test="state != null">
            `state`,
        </if>
        <if test="createdBy != null">
            `created_by`,
        </if>
        <if test="createdDate != null">
            `created_date`,
        </if>
        <if test="modifiedBy != null">
            `modified_by`,
        </if>
        <if test="modifiedDate != null">
            `modified_date`,
        </if>
        <if test="status != null">
            `status`,
        </if>
        <if test="ip != null">
            `ip`
        </if>
        ) VALUES (
        <if test="id != null">
            #{id},
        </if>
        <if test="userId != null">
            #{userId},
        </if>
        <if test="merchantId != null">
            #{merchantId},
        </if>
        <if test="code != null">
            #{code},
        </if>
        <if test="path != null">
            #{path},
        </if>
        <if test="hopRouting != null">
            #{hopRouting},
        </if>
        <if test="qrcodeUserType != null">
            #{qrcodeUserType},
        </if>
        <if test="correlationTime != null">
            #{correlationTime},
        </if>
        <if test="state != null">
            #{state},
        </if>
        <if test="createdBy != null">
            #{createdBy},
        </if>
        <if test="createdDate != null">
            #{createdDate},
        </if>
        <if test="modifiedBy != null">
            #{modifiedBy},
        </if>
        <if test="modifiedDate != null">
            #{modifiedDate},
        </if>
        <if test="status != null">
            #{status},
        </if>
        <if test="ip != null">
            #{ip}
        </if>
        )
    </insert>

    <insert id="insertList" parameterType="List">
        INSERT INTO u_qrcode_info (
        `id`,
        `user_id`,
        `merchant_id`,
        `code`,
        `path`,
        `hop_routing`,
        `qrcode_user_type`,
        `correlation_time`,
        `state`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `status`,
        `ip`
        ) VALUES
        <foreach collection="list" item="data" separator=",">
            (
            #{data.id},
            #{data.userId},
            #{data.merchantId},
            #{data.code},
            #{data.path},
            #{data.hopRouting},
            #{data.qrcodeUserType},
            #{data.correlationTime},
            #{data.state},
            #{data.createdBy},
            #{data.createdDate},
            #{data.modifiedBy},
            #{data.modifiedDate},
            #{data.status},
            #{data.ip}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.uwallet.pay.main.model.entity.QrcodeInfo">
        UPDATE u_qrcode_info
        <set>
            <if test="id != null">
                `id`=#{id},
            </if>
            <if test="userId != null">
                `user_id`=#{userId},
            </if>
            <if test="merchantId != null">
                `merchant_id`=#{merchantId},
            </if>
            <if test="code != null">
                `code`=#{code},
            </if>
            <if test="path != null">
                `path`=#{path},
            </if>
            <if test="hopRouting != null">
                `hop_routing`=#{hopRouting},
            </if>
            <if test="qrcodeUserType != null">
                `qrcode_user_type`=#{qrcodeUserType},
            </if>
            <if test="correlationTime != null">
                `correlation_time`=#{correlationTime},
            </if>
            <if test="state != null">
                `state`=#{state},
            </if>
            <if test="createdBy != null">
                `created_by`=#{createdBy},
            </if>
            <if test="createdDate != null">
                `created_date`=#{createdDate},
            </if>
            <if test="modifiedBy != null">
                `modified_by`=#{modifiedBy},
            </if>
            <if test="modifiedDate != null">
                `modified_date`=#{modifiedDate},
            </if>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="ip != null">
                `ip`=#{ip},
            </if>
        </set>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status != null ">AND status = #{status.value}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            AND id = #{id}
        </trim>
    </update>

    <update id="delete" parameterType="Map">
      UPDATE u_qrcode_info
      SET `status`=0,`modified_by`=#{modifiedBy},`modified_date`=#{modifiedDate}
      WHERE id = #{id}
  </update>

    <delete id="pdelete" parameterType="Map">
      DELETE FROM u_qrcode_info
      WHERE id = #{id}
  </delete>

    <select id="count" parameterType="Map" resultType="Integer">
        <![CDATA[
            SELECT COUNT(DISTINCT id) FROM u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">And status = #{status}</when>
                <otherwise><![CDATA[And status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
    </select>

    <select id="selectOne" parameterType="Map" resultMap="qrcodeInfoMap">
        <![CDATA[
            SELECT * FROM u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        LIMIT 1
    </select>

    <select id="selectOneDTO" parameterType="Map" resultMap="qrcodeInfoDTOMap">
        <![CDATA[
            SELECT * FROM u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        LIMIT 1
    </select>

    <select id="select" parameterType="Map" resultMap="qrcodeInfoMap">
        <![CDATA[
            SELECT * FROM u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                ${sc.field} ${sc.order}
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex}, ${pc.pageSize}
        </if>
    </select>

    <select id="selectDTO" parameterType="Map" resultMap="qrcodeInfoDTOMap">
        <![CDATA[
            SELECT * FROM u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                ${sc.field} ${sc.order}
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex}, ${pc.pageSize}
        </if>
    </select>

    <select id="selectMap" parameterType="Map" resultType="Map">
        SELECT
        <foreach collection="columns" item="cname" separator="," open="`" close="`">
            ${cname}
        </foreach>
        FROM u_qrcode_info
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                ${sc.field} ${sc.order}
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex}, ${pc.pageSize}
        </if>
    </select>

    <!--统计相关查询-->
    <select id="groupCount" parameterType="Map" resultType="Map">
        <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        GROUP BY `group`
        ORDER BY `group` ASC
    </select>

    <select id="sum" parameterType="Map" resultType="Double">
        <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
    </select>

    <select id="groupSum" parameterType="Map" resultType="Map">
        <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="userId != null">
                AND `user_id`=#{userId}
            </if>
            <if test="merchantId != null">
                AND `merchant_id`=#{merchantId}
            </if>
            <if test="code != null">
                AND `code`=#{code}
            </if>
            <if test="path != null">
                AND `path`=#{path}
            </if>
            <if test="hopRouting != null">
                AND `hop_routing`=#{hopRouting}
            </if>
            <if test="qrcodeUserType != null">
                AND `qrcode_user_type`=#{qrcodeUserType}
            </if>
            <if test="correlationTime != null">
                AND `correlation_time`=#{correlationTime}
            </if>
            <if test="state != null">
                AND `state`=#{state}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
        GROUP BY `group`
        ORDER BY `group` ASC
    </select>

    <select id="findCodePath" resultType="java.lang.String">
        SELECT path FROM u_qrcode_info WHERE id IN
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <select id="findQRCodeList" resultType="com.uwallet.pay.main.model.dto.QrcodeListDTO">
        SELECT
        qr.id,
        qr.code,
        user.email merchant_no,
        merchant.practical_name merchant_name,
        qr.correlation_time,
        qr.state,
        qr.created_by,
        qr.created_date,
        qr.modified_date
        FROM u_qrcode_info qr
        LEFT JOIN u_user user ON qr.user_id = user.id AND user.status > 0
        LEFT JOIN u_merchant merchant ON qr.user_id = merchant.user_id AND merchant.status > 0
        WHERE 1=1 AND qr.qrcode_user_type = 20
        <if test="id != null">
            AND qr.code LIKE CONCAT('%',#{id},'%')
        </if>
        <if test="merchantNo != null">
            AND user.email LIKE CONCAT('%',#{merchantNo},'%')
        </if>
        <if test="merchantName != null">
            AND merchant.practical_name LIKE CONCAT('%',#{merchantName},'%')
        </if>
        <if test="state != null">
            AND qr.state = #{state}
        </if>
        <if test="start != null and end != null">
            AND qr.correlation_time BETWEEN #{start} AND #{ end}
        </if>
        AND qr.status > 0
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                ${sc.field} ${sc.order}
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex}, ${pc.pageSize}
        </if>
    </select>

    <select id="findQRCodeListCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM u_qrcode_info qr
        LEFT JOIN u_user user ON qr.user_id = user.id AND user.status > 0
        LEFT JOIN u_merchant merchant ON qr.user_id = merchant.user_id AND merchant.status > 0
        WHERE 1=1 AND qr.qrcode_user_type = 20
        <if test="id != null">
            AND qr.code LIKE CONCAT('%',#{id},'%')
        </if>
        <if test="merchantNo != null">
            AND user.email LIKE CONCAT('%',#{merchantNo},'%')
        </if>
        <if test="merchantName != null">
            AND merchant.practical_name LIKE CONCAT('%',#{merchantName},'%')
        </if>
        <if test="state != null">
            AND qr.state = #{state}
        </if>
        <if test="start != null and end != null">
            AND qr.correlation_time BETWEEN #{start} AND #{ end}
        </if>
        AND qr.status > 0
    </select>

    <select id="findUserInfoByQRCode" parameterType="java.lang.String"
            resultType="com.uwallet.pay.main.model.dto.QrcodeListDTO">
    SELECT
        `code`.user_id,
        merchant.id merchant_id,
        merchant.practical_name merchant_name,
        `user`.user_type
    FROM u_qrcode_info `code`
    LEFT JOIN u_user `user` ON `code`.user_id = `user`.id
    LEFT JOIN u_merchant merchant ON merchant.user_id = `code`.user_id
    WHERE `code`.`code` = #{code} AND `code`.state = 1 AND `code`.status = 1
  </select>

    <update id="removeBindQrCodeInfo" parameterType="com.uwallet.pay.main.model.entity.QrcodeInfo">
        UPDATE u_qrcode_info
        <set>
            `user_id`=#{userId},
            `merchant_id`=#{merchantId},
            `state`=#{state},
            `correlation_time`=#{correlationTime},
            <if test="createdBy != null">
                `created_by`=#{createdBy},
            </if>
            <if test="createdDate != null">
                `created_date`=#{createdDate},
            </if>
            <if test="modifiedBy != null">
                `modified_by`=#{modifiedBy},
            </if>
            <if test="modifiedDate != null">
                `modified_date`=#{modifiedDate},
            </if>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="ip != null">
                `ip`=#{ip},
            </if>
        </set>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status != null ">AND status = #{status.value}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            AND id = #{id}
        </trim>
    </update>
    <select id="findQrList" resultType="java.util.Map" parameterType="java.util.Map">
        <![CDATA[
           select code qrCode,path from u_qrcode_info
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="state != null">
                AND state = #{state}
            </if>
            <choose>
                <when test="status != null ">AND status = #{status.value}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            AND merchant_id = #{merchantId}
            order by correlation_time asc
        </trim>
    </select>


    <select id="listMerchantQrList" resultType="com.uwallet.pay.main.model.dto.QrcodeListDTO">
        SELECT
            qr.id,
            qr.code,
            qr.correlation_time correlationTime,
            a.real_name userName
        FROM
            u_qrcode_info qr
        LEFT JOIN u_admin a ON qr.modified_by = a.id where
         qr.merchant_id = #{merchantId} and qr.status>0
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                ${sc.field} ${sc.order}
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex}, ${pc.pageSize}
        </if>
    </select>


</mapper>
