<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uwallet.pay.main.dao.RoleActionDAO">

  <resultMap id="roleActionMap" type="com.uwallet.pay.main.model.entity.RoleAction">
    <id property="id" jdbcType="BIGINT" column="id"/>
    <result property="roleId" jdbcType="BIGINT" column="role_id"/>
    <result property="actionId" jdbcType="BIGINT" column="action_id"/>
    <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
    <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
    <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
    <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
    <result property="status" jdbcType="TINYINT" column="status"/>
    <result property="ip" jdbcType="VARCHAR" column="ip"/>
  </resultMap>

  <resultMap id="roleActionDTOMap" type="com.uwallet.pay.main.model.dto.RoleActionDTO">
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="roleId" jdbcType="BIGINT" column="role_id"/>
        <result property="actionId" jdbcType="BIGINT" column="action_id"/>
        <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
        <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
        <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
        <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
        <result property="status" jdbcType="TINYINT" column="status"/>
        <result property="ip" jdbcType="VARCHAR" column="ip"/>
  </resultMap>

  <resultMap id="riskRoleActionByRoleIdDTOMap" type="com.uwallet.pay.main.model.dto.RoleActionDTO">
        <result property="actionId" jdbcType="BIGINT" column="action_id"/>
        <collection property="actionDTO"
                    column="{id=action_id}"
                    select="com.uwallet.pay.main.dao.ActionDAO.actionByActionId">
        </collection>
  </resultMap>

  <insert id="insert" parameterType="com.uwallet.pay.main.model.entity.RoleAction">
    INSERT INTO u_role_action (
        `id`,
        `role_id`,
        `action_id`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `status`,
        `ip`
    ) VALUES (
        #{id},
        #{roleId},
        #{actionId},
        #{createdBy},
        #{createdDate},
        #{modifiedBy},
        #{modifiedDate},
        #{status},
        #{ip}
    )
  </insert>

  <insert id="insertList" parameterType="List">
    INSERT INTO u_role_action (
        `id`,
        `role_id`,
        `action_id`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `status`,
        `ip`
    ) VALUES
    <foreach collection="list" item="data" separator=",">
      (
        #{data.id},
        #{data.roleId},
        #{data.actionId},
        #{data.createdBy},
        #{data.createdDate},
        #{data.modifiedBy},
        #{data.modifiedDate},
        #{data.status},
        #{data.ip}
      )
    </foreach>
  </insert>

  <update id="update" parameterType="com.uwallet.pay.main.model.entity.RoleAction">
    UPDATE u_role_action
    <set>
        <if test="id != null">
          `id`=#{id},
        </if>
        <if test="roleId != null">
          `role_id`=#{roleId},
        </if>
        <if test="actionId != null">
          `action_id`=#{actionId},
        </if>
        <if test="createdBy != null">
          `created_by`=#{createdBy},
        </if>
        <if test="createdDate != null">
          `created_date`=#{createdDate},
        </if>
        <if test="modifiedBy != null">
          `modified_by`=#{modifiedBy},
        </if>
        <if test="modifiedDate != null">
          `modified_date`=#{modifiedDate},
        </if>
        <if test="status != null">
          `status`=#{status},
        </if>
        <if test="ip != null">
          `ip`=#{ip},
        </if>
    </set>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <choose>
        <when test="status != null ">AND status = #{status.value}</when>
        <otherwise><![CDATA[AND status > 0]]></otherwise>
      </choose>
        AND id = #{id}
    </trim>
  </update>

  <update id="delete" parameterType="Map">
      UPDATE u_role_action
      SET `status`=0,`modified_by`=#{modifiedBy},`modified_date`=#{modifiedDate}
      WHERE id = #{id}
  </update>

  <delete id="pdelete" parameterType="Map">
      DELETE FROM u_role_action
      WHERE id = #{id}
  </delete>

  <select id="count" parameterType="Map" resultType="Integer">
    <![CDATA[
            SELECT COUNT(DISTINCT id) FROM u_role_action
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">And status = #{status}</when>
            <otherwise><![CDATA[And status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
  </select>

  <select id="selectOne" parameterType="Map" resultMap="roleActionMap">
    <![CDATA[
            SELECT * FROM u_role_action
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    LIMIT 1
  </select>

  <select id="selectOneDTO" parameterType="Map" resultMap="roleActionDTOMap">
    <![CDATA[
            SELECT * FROM u_role_action
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    LIMIT 1
  </select>

  <select id="select" parameterType="Map" resultMap="roleActionMap">
    <![CDATA[
            SELECT * FROM u_role_action
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectDTO" parameterType="Map" resultMap="roleActionDTOMap">
    <![CDATA[
            SELECT * FROM u_role_action
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectMap" parameterType="Map" resultType="Map">
    SELECT
    <foreach collection="columns" item="cname" separator="," open="`" close="`">
        ${cname}
    </foreach>
    FROM u_role_action
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <!--统计相关查询-->
  <select id="groupCount" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM u_role_action
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>

  <select id="sum" parameterType="Map" resultType="Double">
    <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_role_action
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
  </select>

  <select id="groupSum" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_role_action
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="roleId != null">
            AND `role_id`=#{roleId}
          </if>
          <if test="actionId != null">
            AND `action_id`=#{actionId}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>
  <select id="selectOneDTOByRoleId" parameterType="Map" resultMap="riskRoleActionByRoleIdDTOMap">
        <![CDATA[
            SELECT * FROM u_role_action
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="roleId != null">
                AND `role_id`=#{roleId}
            </if>
            <if test="action != null">
                AND `action`=#{action}
            </if>
            <if test="modifiedBy != null">
                AND `modified_by`=#{modifiedBy}
            </if>
            <if test="modifiedDate != null">
                AND `modified_date`=#{modifiedDate}
            </if>
            <if test="createdBy != null">
                AND `created_by`=#{createdBy}
            </if>
            <if test="start != null and end != null">
                AND `created_date` BETWEEN #{start} AND #{ end}
            </if>
            <choose>
                <when test="status != null">AND status = #{status}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            <if test="ip != null">
                AND `ip`=#{ip}
            </if>
        </trim>
  </select>
  <delete id="deleteByRoleId" parameterType="Map">
        <![CDATA[
            DELETE FROM u_role_action
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            AND role_id = #{roleId}
        </trim>
  </delete>
</mapper>
