<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uwallet.pay.main.dao.TieOnCardFlowDAO">

  <resultMap id="tieOnCardFlowMap" type="com.uwallet.pay.main.model.entity.TieOnCardFlow">
    <id property="id" jdbcType="BIGINT" column="id"/>
    <result property="userId" jdbcType="BIGINT" column="user_id"/>
    <result property="cardNo" jdbcType="VARCHAR" column="card_no"/>
    <result property="phone" jdbcType="VARCHAR" column="phone"/>
    <result property="firstName" jdbcType="VARCHAR" column="first_name"/>
    <result property="middleName" jdbcType="VARCHAR" column="middle_name"/>
    <result property="lastName" jdbcType="VARCHAR" column="last_name"/>
    <result property="email" jdbcType="VARCHAR" column="email"/>
    <result property="address1" jdbcType="VARCHAR" column="address1"/>
    <result property="address2" jdbcType="VARCHAR" column="address2"/>
    <result property="city" jdbcType="VARCHAR" column="city"/>
    <result property="country" jdbcType="VARCHAR" column="country"/>
    <result property="state" jdbcType="VARCHAR" column="state"/>
    <result property="zip" jdbcType="VARCHAR" column="zip"/>
    <result property="customerCcExpmo" jdbcType="VARCHAR" column="customer_cc_expmo"/>
    <result property="customerCcExpyr" jdbcType="VARCHAR" column="customer_cc_expyr"/>
    <result property="customerCcType" jdbcType="VARCHAR" column="customer_cc_type"/>
    <result property="customerCcCvc" jdbcType="VARCHAR" column="customer_cc_cvc"/>
    <result property="crdStrgToken" jdbcType="VARCHAR" column="crd_strg_token"/>
    <result property="errorMessage" jdbcType="VARCHAR" column="error_message"/>
    <result property="errorCode" jdbcType="VARCHAR" column="error_code"/>
    <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
    <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
    <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
    <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
    <result property="status" jdbcType="TINYINT" column="status"/>
    <result property="ip" jdbcType="VARCHAR" column="ip"/>
      <result property="uniqueReference" jdbcType="VARCHAR" column="unique_reference"/>
      <result property="payerId" jdbcType="VARCHAR" column="payer_id"/>
      <result property="integraPayAccountId" jdbcType="VARCHAR" column="integraPay_account_id"/>
      <result property="cardId" jdbcType="BIGINT" column="card_id"/>
      <result property="unBundlingState" jdbcType="TINYINT" column="un_bundling_state"/>
      <result property="unBundlingReason" jdbcType="VARCHAR" column="un_bundling_reason"/>
  </resultMap>

  <resultMap id="tieOnCardFlowDTOMap" type="com.uwallet.pay.main.model.dto.TieOnCardFlowDTO">
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="userId" jdbcType="BIGINT" column="user_id"/>
        <result property="cardNo" jdbcType="VARCHAR" column="card_no"/>
        <result property="phone" jdbcType="VARCHAR" column="phone"/>
        <result property="firstName" jdbcType="VARCHAR" column="first_name"/>
        <result property="middleName" jdbcType="VARCHAR" column="middle_name"/>
        <result property="lastName" jdbcType="VARCHAR" column="last_name"/>
        <result property="email" jdbcType="VARCHAR" column="email"/>
        <result property="address1" jdbcType="VARCHAR" column="address1"/>
        <result property="address2" jdbcType="VARCHAR" column="address2"/>
        <result property="city" jdbcType="VARCHAR" column="city"/>
        <result property="country" jdbcType="VARCHAR" column="country"/>
        <result property="state" jdbcType="VARCHAR" column="state"/>
        <result property="zip" jdbcType="VARCHAR" column="zip"/>
        <result property="customerCcExpmo" jdbcType="VARCHAR" column="customer_cc_expmo"/>
        <result property="customerCcExpyr" jdbcType="VARCHAR" column="customer_cc_expyr"/>
        <result property="customerCcType" jdbcType="VARCHAR" column="customer_cc_type"/>
        <result property="customerCcCvc" jdbcType="VARCHAR" column="customer_cc_cvc"/>
        <result property="crdStrgToken" jdbcType="VARCHAR" column="crd_strg_token"/>
        <result property="errorMessage" jdbcType="VARCHAR" column="error_message"/>
        <result property="errorCode" jdbcType="VARCHAR" column="error_code"/>
        <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
        <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
        <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
        <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
        <result property="status" jdbcType="TINYINT" column="status"/>
        <result property="ip" jdbcType="VARCHAR" column="ip"/>
      <result property="uniqueReference" jdbcType="VARCHAR" column="unique_reference"/>
      <result property="payerId" jdbcType="VARCHAR" column="payer_id"/>
      <result property="integraPayAccountId" jdbcType="VARCHAR" column="integraPay_account_id"/>
      <result property="cardId" jdbcType="BIGINT" column="card_id"/>
      <result property="unBundlingState" jdbcType="TINYINT" column="un_bundling_state"/>
      <result property="unBundlingReason" jdbcType="VARCHAR" column="un_bundling_reason"/>
  </resultMap>

    <insert id="insert" parameterType="com.uwallet.pay.main.model.entity.TieOnCardFlow">
        INSERT INTO u_tie_on_card_flow (
        <if test="id != null">
            `id`
        </if>
        <if test="userId != null">
            ,`user_id`
        </if>
        <if test="channelId != null">
            ,`channel_id`
        </if>
        <if test="cardNo != null">
            ,`card_no`
        </if>
        <if test="phone != null">
            ,`phone`
        </if>
        <if test="firstName != null">
            ,`first_name`
        </if>
        <if test="middleName != null">
            ,`middle_name`
        </if>
        <if test="lastName != null">
            ,`last_name`
        </if>
        <if test="email != null">
            ,`email`
        </if>
        <if test="address1 != null">
            ,`address1`
        </if>
        <if test="address2 != null">
            ,`address2`
        </if>
        <if test="city != null">
            ,`city`
        </if>
        <if test="country != null">
            ,`country`
        </if>
        <if test="state != null">
            ,`state`
        </if>
        <if test="zip != null">
            ,`zip`
        </if>
        <if test="customerCcExpmo != null">
            ,`customer_cc_expmo`
        </if>
        <if test="customerCcExpyr != null">
            ,`customer_cc_expyr`
        </if>
        <if test="customerCcType != null">
            ,`customer_cc_type`
        </if>
        <if test="customerCcCvc != null">
            ,`customer_cc_cvc`
        </if>
        <if test="crdStrgToken != null">
            ,`crd_strg_token`
        </if>
        <if test="uniqueReference != null">
            ,`unique_reference`
        </if>
        <if test="payerId != null">
            ,`payer_id`
        </if>
        <if test="integraPayAccountId != null">
            ,`integraPay_account_id`
        </if>
        <if test="cardId != null">
            ,`card_id`
        </if>
        <if test="accountName != null">
            ,`account_name`
        </if>
        <if test="name != null">
            ,`name`
        </if>
        <if test="bsb != null">
            ,`bsb`
        </if>
        <if test="splitContactId != null">
            ,`split_contact_id`
        </if>
        <if test="splitAgreementId != null">
            ,`split_agreement_id`
        </if>
        <if test="unBundlingState != null">
            ,`un_bundling_state`
        </if>
        <if test="unBundlingReason != null">
            ,`un_bundling_reason`
        </if>
        <if test="errorMessage != null">
            ,`error_message`
        </if>
        <if test="errorCode != null">
            ,`error_code`
        </if>
        <if test="createdBy != null">
            ,`created_by`
        </if>
        <if test="createdDate != null">
            ,`created_date`
        </if>
        <if test="modifiedBy != null">
            ,`modified_by`
        </if>
        <if test="modifiedDate != null">
            ,`modified_date`
        </if>
        <if test="status != null">
            ,`status`
        </if>
        <if test="ip != null">
            ,`ip`
        </if>
        ) VALUES (
        <if test="id != null">
            #{id}
        </if>
        <if test="userId != null">
            ,#{userId}
        </if>
        <if test="channelId != null">
            ,#{channelId}
        </if>
        <if test="cardNo != null">
            ,#{cardNo}
        </if>
        <if test="phone != null">
            ,#{phone}
        </if>
        <if test="firstName != null">
            ,#{firstName}
        </if>
        <if test="middleName != null">
            ,#{middleName}
        </if>
        <if test="lastName != null">
            ,#{lastName}
        </if>
        <if test="email != null">
            ,#{email}
        </if>
        <if test="address1 != null">
            ,#{address1}
        </if>
        <if test="address2 != null">
            ,#{address2}
        </if>
        <if test="city != null">
            ,#{city}
        </if>
        <if test="country != null">
            ,#{country}
        </if>
        <if test="state != null">
            ,#{state}
        </if>
        <if test="zip != null">
            ,#{zip}
        </if>
        <if test="customerCcExpmo != null">
            ,#{customerCcExpmo}
        </if>
        <if test="customerCcExpyr != null">
            ,#{customerCcExpyr}
        </if>
        <if test="customerCcType != null">
            ,#{customerCcType}
        </if>
        <if test="customerCcCvc != null">
            ,#{customerCcCvc}
        </if>
        <if test="crdStrgToken != null">
            ,#{crdStrgToken}
        </if>
        <if test="uniqueReference != null">
            ,#{uniqueReference}
        </if>
        <if test="payerId != null">
            ,#{payerId}
        </if>
        <if test="integraPayAccountId != null">
            ,#{integraPayAccountId}
        </if>
        <if test="cardId != null">
            ,#{cardId}
        </if>
        <if test="accountName != null">
            ,#{accountName}
        </if>
        <if test="name != null">
            ,#{name}
        </if>
        <if test="bsb != null">
            ,#{bsb}
        </if>
        <if test="splitContactId != null">
            ,#{splitContactId}
        </if>
        <if test="splitAgreementId != null">
            ,#{splitAgreementId}
        </if>
        <if test="unBundlingState != null">
            ,#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            ,#{unBundlingReason}
        </if>
        <if test="errorMessage != null">
            ,#{errorMessage}
        </if>
        <if test="errorCode != null">
            ,#{errorCode}
        </if>
        <if test="createdBy != null">
            ,#{createdBy}
        </if>
        <if test="createdDate != null">
            ,#{createdDate}
        </if>
        <if test="modifiedBy != null">
            ,#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
            ,#{modifiedDate}
        </if>
        <if test="status != null">
            ,#{status}
        </if>
        <if test="ip != null">
            ,#{ip}
        </if>
        )
    </insert>

    <insert id="insertList" parameterType="List">
        INSERT INTO u_tie_on_card_flow (
        `id`,
        `user_id`,
        `channel_id`,
        `card_no`,
        `phone`,
        `first_name`,
        `middle_name`,
        `last_name`,
        `email`,
        `address1`,
        `address2`,
        `city`,
        `country`,
        `state`,
        `zip`,
        `customer_cc_expmo`,
        `customer_cc_expyr`,
        `customer_cc_type`,
        `customer_cc_cvc`,
        `crd_strg_token`,
        `unique_reference`,
        `payer_id`,
        `integraPay_account_id`,
        `card_id`,
        `account_name`,
        `name`,
        `bsb`,
        `split_contact_id`,
        `split_agreement_id`,
        `un_bundling_state`,
        `un_bundling_reason`,
        `error_message`,
        `error_code`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `status`,
        `ip`
        ) VALUES
        <foreach collection="list" item="data" separator=",">
            (
            #{data.id},
            #{data.userId},
            #{data.channelId},
            #{data.cardNo},
            #{data.phone},
            #{data.firstName},
            #{data.middleName},
            #{data.lastName},
            #{data.email},
            #{data.address1},
            #{data.address2},
            #{data.city},
            #{data.country},
            #{data.state},
            #{data.zip},
            #{data.customerCcExpmo},
            #{data.customerCcExpyr},
            #{data.customerCcType},
            #{data.customerCcCvc},
            #{data.crdStrgToken},
            #{data.uniqueReference},
            #{data.payerId},
            #{data.integraPayAccountId},
            #{data.cardId},
            #{data.accountName},
            #{data.name},
            #{data.bsb},
            #{data.splitContactId},
            #{data.splitAgreementId},
            #{data.unBundlingState},
            #{data.unBundlingReason},
            #{data.errorMessage},
            #{data.errorCode},
            #{data.createdBy},
            #{data.createdDate},
            #{data.modifiedBy},
            #{data.modifiedDate},
            #{data.status},
            #{data.ip}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.uwallet.pay.main.model.entity.TieOnCardFlow">
        UPDATE u_tie_on_card_flow
        <set>
            <if test="id != null">
                `id`=#{id},
            </if>
            <if test="userId != null">
                `user_id`=#{userId},
            </if>
            <if test="channelId != null">
                `channel_id`=#{channelId},
            </if>
            <if test="cardNo != null">
                `card_no`=#{cardNo},
            </if>
            <if test="phone != null">
                `phone`=#{phone},
            </if>
            <if test="firstName != null">
                `first_name`=#{firstName},
            </if>
            <if test="middleName != null">
                `middle_name`=#{middleName},
            </if>
            <if test="lastName != null">
                `last_name`=#{lastName},
            </if>
            <if test="email != null">
                `email`=#{email},
            </if>
            <if test="address1 != null">
                `address1`=#{address1},
            </if>
            <if test="address2 != null">
                `address2`=#{address2},
            </if>
            <if test="city != null">
                `city`=#{city},
            </if>
            <if test="country != null">
                `country`=#{country},
            </if>
            <if test="state != null">
                `state`=#{state},
            </if>
            <if test="zip != null">
                `zip`=#{zip},
            </if>
            <if test="customerCcExpmo != null">
                `customer_cc_expmo`=#{customerCcExpmo},
            </if>
            <if test="customerCcExpyr != null">
                `customer_cc_expyr`=#{customerCcExpyr},
            </if>
            <if test="customerCcType != null">
                `customer_cc_type`=#{customerCcType},
            </if>
            <if test="customerCcCvc != null">
                `customer_cc_cvc`=#{customerCcCvc},
            </if>
            <if test="crdStrgToken != null">
                `crd_strg_token`=#{crdStrgToken},
            </if>
            <if test="uniqueReference != null">
                `unique_reference`=#{uniqueReference},
            </if>
            <if test="payerId != null">
                `payer_id`=#{payerId},
            </if>
            <if test="integraPayAccountId != null">
                `integraPay_account_id`=#{integraPayAccountId},
            </if>
            <if test="cardId != null">
                `card_id`=#{cardId},
            </if>
            <if test="accountName != null">
                `account_name`=#{accountName},
            </if>
            <if test="name != null">
                `name`=#{name},
            </if>
            <if test="bsb != null">
                `bsb`=#{bsb},
            </if>
            <if test="splitContactId != null">
                `split_contact_id`=#{splitContactId},
            </if>
            <if test="splitAgreementId != null">
                `split_agreement_id`=#{splitAgreementId},
            </if>
            <if test="unBundlingState != null">
                `un_bundling_state`=#{unBundlingState},
            </if>
            <if test="unBundlingReason != null">
                `un_bundling_reason`=#{unBundlingReason},
            </if>
            <if test="errorMessage != null">
                `error_message`=#{errorMessage},
            </if>
            <if test="errorCode != null">
                `error_code`=#{errorCode},
            </if>
            <if test="createdBy != null">
                `created_by`=#{createdBy},
            </if>
            <if test="createdDate != null">
                `created_date`=#{createdDate},
            </if>
            <if test="modifiedBy != null">
                `modified_by`=#{modifiedBy},
            </if>
            <if test="modifiedDate != null">
                `modified_date`=#{modifiedDate},
            </if>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="ip != null">
                `ip`=#{ip},
            </if>
        </set>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status != null ">AND status = #{status.value}</when>
                <otherwise><![CDATA[AND status > 0]]></otherwise>
            </choose>
            AND id = #{id}
        </trim>
    </update>

  <update id="delete" parameterType="Map">
      UPDATE u_tie_on_card_flow
      SET `status`=0,`modified_by`=#{modifiedBy},`modified_date`=#{modifiedDate}
      WHERE id = #{id}
  </update>

  <delete id="pdelete" parameterType="Map">
      DELETE FROM u_tie_on_card_flow
      WHERE id = #{id}
  </delete>

  <select id="count" parameterType="Map" resultType="Integer">
    <![CDATA[
            SELECT COUNT(DISTINCT id) FROM u_tie_on_card_flow
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">And status = #{status}</when>
            <otherwise><![CDATA[And status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
  </select>

  <select id="selectOne" parameterType="Map" resultMap="tieOnCardFlowMap">
    <![CDATA[
            SELECT * FROM u_tie_on_card_flow
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    LIMIT 1
  </select>

  <select id="selectOneDTO" parameterType="Map" resultMap="tieOnCardFlowDTOMap">
    <![CDATA[
            SELECT * FROM u_tie_on_card_flow
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    LIMIT 1
  </select>

  <select id="select" parameterType="Map" resultMap="tieOnCardFlowMap">
    <![CDATA[
            SELECT * FROM u_tie_on_card_flow
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectDTO" parameterType="Map" resultMap="tieOnCardFlowDTOMap">
    <![CDATA[
            SELECT * FROM u_tie_on_card_flow
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectMap" parameterType="Map" resultType="Map">
    SELECT
    <foreach collection="columns" item="cname" separator="," open="`" close="`">
        ${cname}
    </foreach>
    FROM u_tie_on_card_flow
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <!--统计相关查询-->
  <select id="groupCount" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM u_tie_on_card_flow
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>

  <select id="sum" parameterType="Map" resultType="Double">
    <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_tie_on_card_flow
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
  </select>

  <select id="groupSum" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum` FROM u_tie_on_card_flow
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
          <if test="id != null">
            AND `id`=#{id}
          </if>
          <if test="userId != null">
            AND `user_id`=#{userId}
          </if>
          <if test="cardNo != null">
            AND `card_no`=#{cardNo}
          </if>
          <if test="phone != null">
            AND `phone`=#{phone}
          </if>
          <if test="firstName != null">
            AND `first_name`=#{firstName}
          </if>
          <if test="middleName != null">
            AND `middle_name`=#{middleName}
          </if>
          <if test="lastName != null">
            AND `last_name`=#{lastName}
          </if>
          <if test="email != null">
            AND `email`=#{email}
          </if>
          <if test="address1 != null">
            AND `address1`=#{address1}
          </if>
          <if test="address2 != null">
            AND `address2`=#{address2}
          </if>
          <if test="city != null">
            AND `city`=#{city}
          </if>
          <if test="country != null">
            AND `country`=#{country}
          </if>
          <if test="state != null">
            AND `state`=#{state}
          </if>
          <if test="zip != null">
            AND `zip`=#{zip}
          </if>
          <if test="customerCcExpmo != null">
            AND `customer_cc_expmo`=#{customerCcExpmo}
          </if>
          <if test="customerCcExpyr != null">
            AND `customer_cc_expyr`=#{customerCcExpyr}
          </if>
          <if test="customerCcType != null">
            AND `customer_cc_type`=#{customerCcType}
          </if>
          <if test="customerCcCvc != null">
            AND `customer_cc_cvc`=#{customerCcCvc}
          </if>
          <if test="crdStrgToken != null">
            AND `crd_strg_token`=#{crdStrgToken}
          </if>
          <if test="errorMessage != null">
            AND `error_message`=#{errorMessage}
          </if>
          <if test="errorCode != null">
            AND `error_code`=#{errorCode}
          </if>
          <if test="createdBy != null">
            AND `created_by`=#{createdBy}
          </if>
          <if test="start != null and end != null">
            AND `created_date` BETWEEN #{start} AND #{ end}
          </if>
          <if test="modifiedBy != null">
            AND `modified_by`=#{modifiedBy}
          </if>
          <if test="modifiedDate != null">
            AND `modified_date`=#{modifiedDate}
          </if>
        <if test="cardId != null">
            AND `card_id`=#{cardId}
        </if>
        <if test="unBundlingState != null">
            AND `un_bundling_state`=#{unBundlingState}
        </if>
        <if test="unBundlingReason != null">
            AND `un_bundling_reason`=#{unBundlingReason}
        </if>
          <choose>
            <when test="status != null">AND status = #{status}</when>
            <otherwise><![CDATA[AND status > 0]]></otherwise>
          </choose>
          <if test="ip != null">
            AND `ip`=#{ip}
          </if>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>
    <!--todo 新月 查询条件-->
    <select id="selectCountryIso" resultType="com.uwallet.pay.main.model.dto.CountryIsoDTO">
        SELECT * FROM u_country_iso WHERE country = #{country}
    </select>

</mapper>
